body {
    background-color: bisque;
}

.pourcentage {
    float: right;
    margin: 5% 8% 0% 0%;
}

.cadre_blanc_right {
    background-color: white;
    float: right;
    padding: 5% 3% 17% 3%;
    margin: 8% 3% 5% 3%;
}